body.form-only {
    background: $red;
    color: #FFF;
}

.page-wrap {}

main {
    min-height: 100%;
    padding: $padding;
    margin: $padding*1.5 0 0;
    margin-left: 20%;

    @include breakpoint(papa-bear) {
        margin-left: 14em;
    }

    @include breakpoint(mama-bear) {
        margin-left: 0;
        padding: 1.5em;
    }

    h1, h2, h3 {
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.grid {
    display: flex;

    .grid-1-2 {
        width: 50%;
    }

    .grid-1-3 {
        width: 33.333%;
    }

    .grid-2-3 {
        width: 66.66%;
    }

    .grid-1-4 {
        width: 25%;
    }

    [class*='grid-'] {
        padding-left: 20px;

        &:first-child {
            padding-left: 0;
        }
    }

    @include breakpoint(baby-bear) {
        display: block;

        [class*='grid-'] {
            width: 100%;
            padding-left: 0;
        }
    }

    &[data-grid-type="wrapping"] {
        flex-wrap: wrap;
    }
}

form.application-form {
    max-width: 50rem;

    @include breakpoint(mama-bear) {
        max-width: none;
    }
}
