.login-wrap {
    max-width: 25em;
    padding: 0 1em;
    margin: 4em auto;

    h1 {
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    .alert {
        font-size: $font-medium;
        background: none;
        color: $red;
        line-height: 1.5;
        margin: 0 0 0.5em;
        padding: 0;
    }
}

.login-form {
    padding: 2em;
    background: #FFF;
    border-radius: 3px;
    color: $gray;
}
