$red: #C02942;
$pink: #FC39C5;
$green: #21CAA3;
$yellow: #E9CB30;

$lightgray: #D9D9D9;
$gray: #666666;
$midgray: #383838;
$darkgray: #242424;

$padding: 3rem;

@import "bits";
@import "forms_mixins";
@import "variables";

@import "reset";
@import "typography";
@import "layout";
@import "forms";
@import "buttons";
@import "lists";

@import "login";
@import "header";
@import "navigation";
