$red: #C02942;
$pink: #FC39C5;
$green: #21CAA3;
$yellow: #E9CB30;

$midgray: #383838;
$darkgray: #242424;

@import "bits";
@import "forms_mixins";
@import "variables";

@import "reset";
@import "typography";
@import "layout";
@import "forms";
@import "buttons";

@import "login";