/**
 * Chris Coyier: css-tricks.com
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

ul {
  list-style: none; }

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 50em) {
    html {
      font-size: 90%; } }
  @media (max-width: 35em) {
    html {
      font-size: 90%; } }

body {
  font-family: "proxima-nova", Sans-Serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.7;
  color: #666666; }

input, textarea {
  font-family: "proxima-nova", Sans-Serif;
  font-weight: 300; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 300; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #C02942; }

h2 {
  font-size: 2.3rem;
  margin: 3rem 0 0.8rem 0; }

h3 {
  font-size: 1.6rem;
  margin: 1.5rem 0 0.8rem 0; }

h4 {
  font-size: 1.3rem;
  margin: 0 0 0.6rem 0; }

h5 {
  font-size: 1.1rem;
  margin: 0 0 0.4rem 0; }

p {
  margin: 0 0 1rem 0; }

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 4rem 0;
  height: 1px; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

body.form-only {
  background: #C02942;
  color: #FFF; }

main {
  min-height: 100%;
  padding: 3rem;
  margin: 4.5rem 0 0;
  margin-left: 20%; }
  @media (max-width: 70em) {
    main {
      margin-left: 14em; } }
  @media (max-width: 50em) {
    main {
      margin-left: 0;
      padding: 1.5em; } }
  main h1:first-of-type, main h2:first-of-type, main h3:first-of-type {
    margin-top: 0; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .grid .grid-1-2 {
    width: 50%; }
  .grid .grid-1-3 {
    width: 33.333%; }
  .grid .grid-2-3 {
    width: 66.66%; }
  .grid .grid-1-4 {
    width: 25%; }
  .grid [class*='grid-'] {
    padding-left: 20px; }
    .grid [class*='grid-']:first-child {
      padding-left: 0; }
  @media (max-width: 35em) {
    .grid {
      display: block; }
      .grid [class*='grid-'] {
        width: 100%;
        padding-left: 0; } }
  .grid[data-grid-type="wrapping"] {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

form.application-form {
  max-width: 50rem; }
  @media (max-width: 50em) {
    form.application-form {
      max-width: none; } }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

input[type="search"] {
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

output {
  display: block;
  padding-top: 7px;
  font-size: 16px;
  line-height: 1.42857;
  color: #666666; }

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 0.875em;
  line-height: 1.42857;
  color: #666666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  box-shadow: inset 0 0 0 transparent; }
  .form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 3px #f3f3f3; }
  .form-control::-webkit-input-placeholder {
    color: #777777; }
  .form-control::-moz-placeholder {
    color: #777777; }
  .form-control:-ms-input-placeholder {
    color: #777777; }
  .form-control::placeholder {
    color: #777777; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 36px;
  line-height: 1.42857 \0; }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm {
    line-height: 33px; }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg {
    line-height: 49px; }

.form-group {
  margin-bottom: 1em; }

.radio,
.checkbox {
  position: relative;
  display: block;
  min-height: 22px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #666666; }
  .radio label,
  .checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    text-transform: none;
    font-weight: inherit;
    font-size: 0.875em; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled, fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed; }

.radio-inline.disabled, fieldset[disabled] .radio-inline,
.checkbox-inline.disabled, fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed; }

.radio.disabled label, fieldset[disabled] .radio label,
.checkbox.disabled label, fieldset[disabled]
.checkbox label {
  cursor: not-allowed; }

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0; }
  .form-control-static.input-lg, .form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0; }

.input-sm {
  height: 33px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 2px; }

select.input-sm {
  height: 33px;
  line-height: 33px; }

textarea.input-sm,
select[multiple].input-sm {
  height: auto; }

.input-lg {
  height: 49px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 6px; }

select.input-lg {
  height: 49px;
  line-height: 49px; }

textarea.input-lg,
select[multiple].input-lg {
  height: auto; }

.has-feedback {
  position: relative; }
  .has-feedback .form-control {
    padding-right: 45px; }

.form-control-feedback {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 2;
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center; }

.input-lg + .form-control-feedback {
  width: 49px;
  height: 49px;
  line-height: 49px; }

.input-sm + .form-control-feedback {
  width: 33px;
  height: 33px;
  line-height: 33px; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #3c763d; }
.has-success .form-control {
  border-color: #3c763d; }
  .has-success .form-control:focus {
    box-shadow: 0 0 0 3px #c2e0c2; }
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }
.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #8a6d3b; }
.has-warning .form-control {
  border-color: #8a6d3b; }
  .has-warning .form-control:focus {
    box-shadow: 0 0 0 3px #e9decc; }
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }
.has-warning .form-control-feedback {
  color: #8a6d3b; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #C02942; }
.has-error .form-control {
  border-color: #C02942; }
  .has-error .form-control:focus {
    box-shadow: 0 0 0 3px #f8e0e4; }
.has-error .input-group-addon {
  color: #C02942;
  border-color: #C02942;
  background-color: #fdf5f7; }
.has-error .form-control-feedback {
  color: #C02942; }

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a6a6a6;
  font-size: 0.875em; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 9px 12px 7.8px;
  font-size: 0.75em;
  line-height: 1.42857;
  border-radius: 3px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    box-shadow: none; }
  .btn[type="submit"] {
    background: none; }

.btn-primary {
  color: #C02942;
  background-color: #FFF;
  border-color: #C02942; }
  .btn-primary:hover, .btn-primary:focus {
    color: #962034;
    border-color: #962034; }

.btn-link {
  color: #DE1548;
  cursor: pointer;
  border-radius: 0;
  line-height: inherit;
  padding: 0; }
  .btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none; }
  .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent; }
  .btn-link:hover, .btn-link:focus {
    color: #980e31;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.list-item {
  padding: 2em 0 1.7em;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .list-item:first-child {
    padding-top: 0;
    border-top: none; }

.list-title {
  font-size: 1.3em;
  margin: 0; }
  .list-title small {
    opacity: 0.5; }

.list-description {
  margin-bottom: 0; }

.login-wrap {
  max-width: 25em;
  padding: 0 1em;
  margin: 4em auto; }
  .login-wrap h1 {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em; }
  .login-wrap .alert {
    font-size: 0.875em;
    background: none;
    color: #C02942;
    line-height: 1.5;
    margin: 0 0 0.5em;
    padding: 0; }

.login-form {
  padding: 2em;
  background: #FFF;
  border-radius: 3px;
  color: #666666; }

header.site-header {
  position: fixed;
  top: 0;
  z-index: 400;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 3rem 0 20%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  width: 100%; }
  @media (max-width: 70em) {
    header.site-header {
      padding-left: 14em; } }
  @media (max-width: 50em) {
    header.site-header {
      padding-left: 0;
      padding: 0 1.5em; } }
  header.site-header h1 {
    font-size: 1.5rem;
    padding-left: 3rem;
    line-height: 4.5rem;
    float: left; }
    @media (max-width: 50em) {
      header.site-header h1 {
        padding: 0; } }
  header.site-header .actions {
    float: right; }

.site-navigation {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  background: #C02942; }
  @media (max-width: 70em) {
    .site-navigation {
      width: 14em; } }
  @media (max-width: 50em) {
    .site-navigation {
      visibility: hidden;
      position: absolute;
      top: 4em;
      left: 0;
      width: 100%;
      background: #F7F7F7;
      border-bottom: 1px solid #e7e7e7;
      opacity: 0;
      -webkit-transition: opacity .2s ease-in;
              transition: opacity .2s ease-in; } }
  .site-navigation nav {
    padding: 3rem; }
  .site-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .site-navigation ul.nav-account li, .site-navigation ul.nav-account a {
      color: rgba(255, 255, 255, 0.75); }
  .site-navigation li, .site-navigation a {
    color: #FFF; }
    .site-navigation li:hover, .site-navigation li.active, .site-navigation a:hover, .site-navigation a.active {
      color: rgba(255, 255, 255, 0.75); }
  .site-navigation .spacer {
    height: 4.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
    @media (max-width: 50em) {
      .site-navigation .spacer {
        display: none; } }
  .site-navigation .sep {
    height: 1px;
    width: 30px;
    background: rgba(255, 255, 255, 0.25);
    margin: 20px 0; }
